<?xml version='1.0' encoding='UTF-8'?>

<routes>  
    <import>
        <file>
            <source>/source/Alca/GenBox/config/generator.xml</source>
        </file>
        
        
        <file>
            <source>/source/Cdm/UtilisateurBox/config/admin_user.xml</source>
        </file>
    </import>
      
        
    <route name="index" path="/" 
           template="Alca/GenBox/template/index" controller="Alca/GenBox/Defaut" action="index" />

    <route name="error" path="/error" 
           template="Alca/ErrorBox/template/error" controller="Alca/ErrorBox/Error" action="index" />
    

        
</routes>
