/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body {
    font-family: "ostrich-black", Helvetica, Helvetica Neue, Arial;
    font-size: 62.5%; /* 16px * 62.5% = 10px */
    overflow: hidden;
}
/* ===============
    ALL: IE Fixes
   =============== */

* html #footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
}
.ie7 .title {
    padding-top: 20px;
}
/* ===============
    FONT: Ostrich Sans
   =============== */

/* Ostrich Sans */

@font-face {
    font-family: 'ostrich-black';
    src: url('font/ostrich-black.eot');
    src: url('font/ostrich-black.eot?#iefix') format('embedded-opentype'),
         url('font/ostrich-black.woff') format('woff'),
         url('font/ostrich-black.ttf') format('truetype'),
         url('font/ostrich-black.svg#ostrich-black') format('svg');
    font-weight: 500;
    font-style: normal;

}

/* Ostrich Sans Rounded */

@font-face {
	font-family: 'ostrich-sans-rounded';
    src: url('font/ostrich-rounded.eot');
    src: url('font/ostrich-rounded.eot?#iefix') format('embedded-opentype'),
         url('font/ostrich-rounded.woff') format('woff'),
         url('font/ostrich-rounded.ttf') format('truetype'),
         url('font/ostrich-rounded.svg#ostrich-sans-rounded') format('svg');
    font-weight: 500;
    font-style: normal;
}

/* ==========================================================================
   MAIN CONTAINER - styles                                  (main wrapper)
   ========================================================================== */

.main-container {
    float: right;
    width: 100%;
    height: 100%;
    background: url(images/bg_main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fdba05;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='.images/bg_main.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg_main.jpg', sizingMethod='scale')";
}
/* ==========================================================================
   ASIDE - styles                                              (left menu)
   ========================================================================== */

aside {
    float: left;
    width: 16.40625%;
    min-width: 210px;
    max-width: 310px;
    height: 100%;
    background-color: #303030;
    position: relative;
    z-index: 1;
    margin-right: 30px;
}

h1#logo {
    width: 100%;
    height: 33.75%;
    min-height: 209px;
    background-color: #232323
}

h2.title {
    width: 100%;
    height: auto;
    background-color: #303030;
    text-transform: uppercase;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    line-height: 34px;
    padding-top: 16%;
    padding-bottom: 16%;
}

h3.title_id {
    font-family: 'ostrich-sans-rounded';
    width: 100%;
    height: auto;
    font-size: 24px;
    color: #ffffff;
    background-color: #232323;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    letter-spacing: 1px;
}

.connect {
    width: 100%;
    height: 23.229167%;
    min-height: 157px;
    background-color: #303030;
    font-family: 'ostrich-sans-rounded';
    color: #ffffff;
    line-height: 30px;
    padding-top: 4%;
}

.connect form {
    width: 90%;
    margin: auto;
    font-family: Arial,Helvetica, Helvetica Neue, sans-serif;
    font-size: 12px;
}

.connect label {
    display: block;
    font-weight: lighter;
}

.connect input {
    width: 99%;
    height: 30px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    clear: both;
}

.connect input:focus {
    outline: none !important;
    box-shadow: 0 0 8px #f6de24;
}
/* ==========================================================================
   MAIN - styles                                                
   ========================================================================== */

.main {
    width: auto;
    position: relative;
    padding-right: 2%;
    height: 100%;
}

.main header {
    padding-top: 37px;
}

.main header h2 {
    font-size: 32px;
    font-family: 'ostrich-sans-rounded';
}

.main header h3 {
    font-family: 'ostrich-black';
    font-size: 26px;
    padding-top: 42px;
    padding-bottom: 52px;
}

/* ==========================================================================
   SECTION - styles                                                
   ========================================================================== */

section {
    width: auto;
    overflow-y: auto;
    height: 55%;
}

.content_left {
    float: left;
    width: 49%;
    margin-right: 2%;
    height: 300px;
}

.content_right {
    float: left;
    width: 49%;
    height: 300px;
}

.bloc {
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 4%;
}

.bloc form {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
}

section form h3 {
    padding: 0;
    font-size: 20px;
    float: left;
}

section form input[type="submit"]{
    cursor:pointer;
    float: right;
    background-color: #222222;
    color: #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 4px 14px 17px 14px;
    height: 10px;
    font-family: Arial,Helvetica, Helvetica Neue, sans-serif;
    font-size: 12px;
    border: none !important;
    outline: none !important;
}

section form input[type="submit"].parcourir {
    cursor:pointer;
    background-color: #e0e0e0;
    float: none;
    width: 100%;
    color: #000000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0;
    height: 30px;
    font-family: Arial,Helvetica, Helvetica Neue, sans-serif;
    font-size: 12px;
    border: 1px solid #cccccc !important;
    outline: none !important;
}

section form label {
    float: right;
    width: auto;
    text-align: right;
    font-family: Arial,Helvetica, Helvetica Neue, sans-serif;
    font-size: 14px;
    padding-right: 1.5%;
}

.content_right form label, .content_right form input[type="text"]
, .content_right form input[type="password"]
, .content_right form input[type="email"]  {
    float: none;
    display: block;
    text-align: left;
}

section form input[type="text"]
, section form input[type="password"]
, section form input[type="email"]
, section form textarea {
    float: right;
    width: 72%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #cccccc;
    padding: 4px;
}

section form textarea {
    height: 77px;
    display: inline-block;
}

.bloc fieldset {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0;
    display: block;
}

fieldset.head {
    clear: both;
    height: 30px;
    border-bottom: 1px solid #cccccc;
    padding: 0;
}

fieldset.photo {
    float: right;
    width: 48%;
}

fieldset.photo img {
    width: 100%;
    min-width: 214px;
    max-width: 316px;
}

.second {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.second label
, .second input[type="text"]
, .second input[type="password"]
, .second input[type="email"]
, .photo label {
    margin-bottom: 10px;
    width: 100%;
    padding: 0;
    height: 20px;
}

/* ==========================================================================
   FOOTER - styles
   ========================================================================== */

footer {
    background-color: #303030;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 64px;
    z-index: 10;
}

footer button {
    background-color: #1e1e1e;
    height: 100%;
    float: left;
    border: none;
    width: 16.40625%;
    min-width: 210px;
    max-width: 310px;
    font-family: 'ostrich-sans-rounded';
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

nav {
    float: right;
    height: 64px;
    background: transparent url(images/sprite_nav.png) 0 0 no-repeat;
    width: 384px;
}

nav ul li, 
nav ul li a {
	height: 64px;
	display: block;
	float:left;
}

.accueil a{
width: 64px;
	background:  transparent url(images/sprite_nav.png) 0 0 no-repeat;
}
.accueil a:hover {
	background:  transparent url(images/sprite_nav.png) 0 -64px no-repeat;
}
.accueil a.active, .accueil a:focus {
	background:  transparent url(images/sprite_nav.png) 0 -128px no-repeat;
}

.classement a{
    width: 64px;
	background:  transparent url(images/sprite_nav.png) -64px 0 no-repeat;
}
.classement a:hover {
	background:  transparent url(images/sprite_nav.png) -64px -64px no-repeat;
}
.classement a.active, .classement a:focus {
	background:  transparent url(images/sprite_nav.png) -64px -128px no-repeat;
}

.resultats a{
    width: 64px;
	background:  transparent url(images/sprite_nav.png) -128px 0 no-repeat;
}
.resultats a:hover {
	background:  transparent url(images/sprite_nav.png) -128px -64px no-repeat;
}
.resultats a.active, .resultats a:focus {
	background:  transparent url(images/sprite_nav.png) -128px -128px no-repeat;
}

.calendrier a{
    width: 64px;
	background:  transparent url(images/sprite_nav.png) -192px 0 no-repeat;
}
.calendrier a:hover {
	background:  transparent url(images/sprite_nav.png) -192px -64px no-repeat;
}
.calendrier a.active, .calendrier a:focus {
	background:  transparent url(images/sprite_nav.png) -128px -128px no-repeat;
}

.equipes a{
    width: 64px;
	background:  transparent url(images/sprite_nav.png) -256px 0 no-repeat;
}
.equipes a:hover {
	background:  transparent url(images/sprite_nav.png) -256px -64px no-repeat;
}
.equipes a.active, .equipes a:focus {
	background:  transparent url(images/sprite_nav.png) -256px -128px no-repeat;
}

.reglesdujeu a{
    width: 64px;
	background:  transparent url(images/sprite_nav.png) -320px 0 no-repeat;
}
.reglesdujeu a:hover {
	background:  transparent url(images/sprite_nav.png) -320px -64px no-repeat;
}
.reglesdujeu a.active, .reglesdujeu a:focus {
	background:  transparent url(images/sprite_nav.png) -320px -128px no-repeat;
}

span{
	display:none;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

    h1, h2, h3 {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        line-height: normal;
    }

    h1 {
        font-size: 38px;
    }

    .clear {
        clear: both
    }

